[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
streamlit = "*"
numpy = "*"
cookiecutter = "*"
jupyterlab = "*"
lime = "*"
eli5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
